html {
    background-color:#415A77 ;
}

body {
  display: flex;
  margin: 0px;
}
html, 
body {
    height: 100%;
}

.container {
  padding: 8px;
	display: flex;
  flex-direction: column;
  width: 100%;
}

.header-container {
  background-color: #343434 ;
  height: 55px;
  width: 100%;
  line-height: 50px;
}

.body-container {
  flex: 1;
  width: 100%;
  Height: calc( 100% - 50PX);
  background-color: #fff ;
}
.mySlides {
  display: none;
}

  
.mySlides {
  
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  
  align-content: stretch;
  height: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next{
  right:0;
 border-radius: 3px 0 0 3px;

}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.hdrBtn {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid;
  padding: 0.25em 0.5em;
  background-color: white;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  margin: 0px 5px;
  color: #0D1B2A ;
  cursor: pointer;
}

.hdrBtn:active {
  box-shadow: 0px 0px 0px 0px;
  padding: 0.30em 0.6em;
}

 */


.content {
  height: 400px;
   width: 700px;
   overflow: hidden;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.formbutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}